*{
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(217, 48, 48);
    padding: 1rem;
    font-family: 'Lobster', cursive;
    color: aliceblue;
    font-size: 3rem;
    text-align: center;
}
.container{
    display: grid;
    grid-template-areas: "h3 h3"
    "players players"
    "button button"
    "result result";
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 2rem;
}

h3{
    grid-area: h3;
    text-align: center;
}

.players{
    width: 95vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-area: players;
}

.dice{
    padding: 2rem;
    width: 45vw;
}

footer{
    margin: 1rem;
    text-align: center;
}

img{
    width: 200px;
    height: auto;
}

.roll{
    margin: auto;
    grid-area: button;
    background-color: rgb(217, 48, 48);
    box-sizing: content-box;
    width:5rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: serif;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(62, 54, 54, 0.6);
}

.roll:hover{

    cursor: pointer;
    color:rgb(217, 48, 48);
    border:2px solid rgb(217, 48, 48);
    transition: all 0.5s ease;
    background-color: transparent;
}

.result{
    font-family: sans-serif;
    grid-area: result;
    font-size: 1.5rem;
    margin: 1rem auto;
}





@media screen and (max-width:600px) {
    img{
        width: 150px;
    }

    .players
    {
        max-width: 100%;
    }

    .players div{
        width:200px;
    }
}
